<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Downloader</title>
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
</head>
<body style="background-color: lightblue;font-family: verdana;">

<h1><a href="/" style="color: black; text-decoration: none;">YouTube Downloader</a></h1>

<form method="POST">
  {% csrf_token %}
  <label>Video URL:</label><br>
  <input type="text" name="video_url" value="{{ video_url }}" placeholder="URL" size="60">
  <input type="submit" value="Submit">
</form>

{% if messages %}
<ul class="messages" style="font-size:12px;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<br>

{% if yt %}

<h2>{{ yt.title }}</h2>
<h3>by {{ yt.author }}</h3>

<div style="float:left; width: 640px; margin-right: 30px;">
   <p><img src="{{ yt.thumbnail_url }}"></p>
</div>

<div style="float:left;">
    <p><a href="{% url 'download' yt.video_id v %}">Download video with audio</a></p>
    <p><a href="{% url 'download' yt.video_id a %}">Download audio m4a</a></p>
    <p><a href="{% url 'download' yt.video_id m %}">Download audio mp3</a></p>
    {% if all_captions.en %}
    <p><a href="{% url 'download' yt.video_id s %}">Download subtitles</a></p>
    {% endif %}

    <h5 style="margin-bottom: -6px;">All available streams:</h5>
    {% for stream in streams_list %}
    <p style="font-size:10px;"><a href="{% url 'download' yt.video_id stream.itag %}">{{ stream.type }}</a> ({{ stream.filesize }} MB
        {{ stream.mime_type }}{% if stream.fps %}, {{ stream.resolution }}, {{ stream.fps }} fps{% endif %})</p>
    {% endfor %}
</div>
<div style="clear:both;"></div>
{% endif %}

</body>
</html>